<h4>Found {{ foundItems.length }} item(s)</h4>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <!-- loop over found items -->
    <tr ng-repeat="item in foundItems">
        <td>{{ $index+1 }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>
            <button class="btn btn-danger" ng-click="onRemove({index: $index})">
                Don't want this one!
            </button>
        </td>
    </tr>
    </tbody>
</table>